// -- center main section -- //

main {
  .menu {
    @include flexbox($justify: center);
  }
}

// -- restaurant title --//

.menu {
  &__background {
    margin-top: -55px;
    border-radius: 40px 40px 0px 0px;
    width: 100%;
    padding-top: 32px;
    background-color: $extra-light-gray;
    @include relative-position;
    @include flexbox($direction: column, $align: center);
    max-width: $maxwidth;
  }
  &__restaurant {
    padding-bottom: 40px;
    @include flexbox($align: center, $gap: 24px);
    i {
        @include absolute-position($top: 41px);
    }
  }
  &__title {
    h1 {
      color: $dark-gray;
      @include font($family: "Shrikhand", $size: 28px, $weight: 400);
    }
  }
}

// (property to fix title display) //
.menu__title {
  .letter-spacing {
    letter-spacing: 1.6px;
  }
}

// -- cards -- //

.menu {
  &__listing {
    width: 90%;
    padding-bottom: 40px;
    @include flexbox($direction: column, $gap: 40px);
  }
  &__offers {
    @include flexbox($direction: column, $gap: 12px);
  }
  &__cta {
    @include flexbox($justify: center);
  }
}
  
// progressive animation //

.menu__title {
  opacity: 0;
  animation: fade-in 300ms ease-in-out forwards;
}

.menu__offers {
  opacity: 0;
  animation: fade-in 300ms ease-in-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu__offers:nth-child(1) {
  animation-delay: 300ms;
}

.menu__offers:nth-child(2) {
  animation-delay: 600ms;
}

.menu__offers:nth-child(3) {
  animation-delay: 900ms;
}

