// -----------------------------------------------------------------------------
// This file contains all styles related to the headline of the site/application.
// -----------------------------------------------------------------------------

.headline {
    width: $maxwidth;
    font-family: $body-font;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    padding-top: 39px;
    align-items: center;
    background-color: #F6F6F6;
    h1 {
        height: 68px;
        width: 275px;
        text-align: center;
        font-size: $h1-font-size;
        font-weight: $h1-font-wight;
    }
    h2 {
        height: 46px;
        width: 315px;
        text-align: center;
        font-size: $h2-font-size;
        font-weight: $h2-font-weight;
        color: #353535;
    }
}