.hero {
    width: 100%;
    padding-top: 39px;
    @include font;
    @include flexbox($direction: column, $justify: center, $align: center);
    background-color: $extra-light-gray;

    h1 {
        height: 68px;
        width: 275px;
        text-align: center;
        @include font($size: 24px, $weight: 700);
    }

    h2 {
        height: 46px;
        width: 315px;
        text-align: center;
        @include font($size: 18px, $weight: 700);
        color: $charcoal-gray;
    }

    @media only screen and (min-width: $break) {
        padding-top: 30px;
        padding-bottom: 30px;
        gap: 18px;

        h1 {
            width: 100%;
            height: inherit;
            @include font($size: 40px, $weight: 700);
        }

        h2 {
            width: 100%;
            height: inherit;
            @include font($size: 18px, $weight: 300);
        }
    }
}