// -----------------------------------------------------------------------------
// This file contains all styles related to the headline of the site/application.
// -----------------------------------------------------------------------------

.headline {
    width: 100%;
    font-family: $body-font;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 39px;
    align-items: center;
    background-color: #F6F6F6;
    h1 {
        height: 68px;
        width: 275px;
        text-align: center;
        font-size: $h1-font-size;
        font-weight: $h1-font-wight;
    }
    h2 {
        height: 46px;
        width: 315px;
        text-align: center;
        font-size: $h2-font-size;
        font-weight: $h2-font-weight;
        color: #353535;
    }
}
@media only screen and (min-width: $break) {
   .headline {
    padding-top: 30px;
    padding-bottom: 30px;
    gap:18px;
    h1 {
        width: 100%;
        height: inherit;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
    }
    h2 {
        width: 100%;
        height: inherit;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
   }
}

