.operating {
    box-sizing: border-box;
    @include font;

    h1 {
        height: 31px;
        margin: 48px 80px 26px 20px;
        @include font($size: 24px, $weight: 700);
    }

    &__steps {
        @include flexbox($direction: column, $gap: 25px);
        padding-bottom: 68px;
    }

    @media only screen and (min-width: $break) {
        margin: 0 18px;

        &--max {
            max-width: $maxwidth;
            margin: 0 auto;
        }

        &__steps {
            @include flexbox($justify: center, $align: center);
        }

        h1 {
            @include flexbox;
            margin: 0 0;
        }
    }
}
