.menu {
    width: 100%;
    font-family: $body-font;
    h1 {
        height: 31px;
        width: 275px;
        margin: 48px 80px 26px 20px;
        font-size: $h1-font-size;
        font-weight: $h1-font-wight;
    }
    &__bar {
        display: flex;
        flex-direction: column;
        // align-items: center;
        gap: 25px;
        padding-bottom: 68px;
    }
}

@media only screen and (min-width: 901px) {
    .menu {
        display: flex;
        justify-content: center;

        &__bar {
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
      
    }
  }