.offers {
    font-family: $body-font;
    width: 100%;
    padding-bottom: 66px;
    background-color: #F6F6F6;
    padding-top: 54px;

    &__title {
        font-size: 24px;
        font-weight: 700;
        margin-left: 20px;
        margin-bottom: 24px;
        }
    // card disposition
    &__card {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    }
}

@media only screen and (min-width: $break) {
    .offers {
      &__card {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr;                         
      }
      // &__title {
      //   margin-left: 180px;
      // }
    .grid {
      margin-right: 18px;
      margin-left: 18px;
    }
    }
}