.restaurants {
  width: 100%;
  padding: 54px 0 66px 0;
  box-sizing: border-box;
  @include font;
  background-color: $extra-light-gray;

  &__grid {
    margin: 0 17px;
  }
  &__offers {
    @include flexbox($direction: column, $gap: 18px);
  }
  &__title {
    margin: 0 0 24px 20px;
    @include font($size: 24px, $weight: 700);
  }

  @media only screen and (min-width: $break) {
    &--max {
      max-width: $maxwidth;
      margin: 0 auto;
    }
    &__grid {
      margin: 0 18px;
    }
    &__offers {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
}
