// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

// btn homepage cta
.btn {
    input {
        @include btn-background;
        width: 218px;
        height: 50px;
        border: none;
        border-radius: 25px;
        color: white;
        padding: 0px;
        // space between notice and btn
        margin-top: 27px;
        margin-bottom: 57px;
        font-size: $body-font-size;
        font-weight: $body-font-weight;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0,0.25);
    }
}

//btn menu
.menu__bar {
    &__button {
    .input {
        width: 322px;
        height: 72px;
        padding: 0px;
        border: none;
        border-radius: 20px;
        background-color: #F6F6F6;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0,0.15);
        font-size: $body-font-size;
        font-weight: $body-font-weight;
        display: flex;
        align-items: center;
        .fa-solid {
            margin-right: 27px;
            font-size: 19px;
            color: #7E7E7E;
            padding-bottom: 7px;
        } 
    }
    
    &__round {
        width: 24px;
        height: 24px;
        background-color: #9356DC;
        border-radius: 50px;
        right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 14px;
        margin-left: -11px;
        margin-right: 23px;
    }
    }
}
