// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

// btn homepage cta
.btn {
    input {
        @include btn-background;
        width: 218px;
        height: 50px;
        border: none;
        border-radius: 25px;
        color: white;
        // space between notice and btn
        margin-top: 27px;
        font-size: $body-font-size;
        font-weight: $body-font-weight;
    }
}

//btn menu cta
.menu__bar {
    &__button {
    input {
        width: 322px;
        height: 72px;
        border: none;
        border-radius: 20px;
        background-color: #F6F6F6;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0,0.15);
        font-size: $body-font-size;
        font-weight: $body-font-weight; 
    }
    &__round {
        width: 24px;
        height: 24px;
        background-color: #9356DC;
        position: relative;
        top: 50px;
        border-radius: 50px;
        right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 14px;
    }
    }
}
