a {
  color: inherit;
  text-decoration: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Basic typography style for copy text
 */
header {
  height: 113px;
  width: 375px;
}
header .frame {
  height: 63px;
  display: flex;
  justify-content: center;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
header .frame__logo {
  width: 165px;
  height: 36px;
  padding: 14px 16px 13px;
}
header .location {
  background-color: #EAEAEA;
  width: 375px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  color: #353535;
}
header .location__form input {
  border: none;
  font-weight: 500;
  font-size: 16px;
  width: 130px;
  background-color: transparent;
  color: #353535;
  padding: 0px;
  font-family: roboto;
}

footer {
  height: 186px;
  width: 331px;
  padding: 22px;
  background-color: #353535;
  color: white;
  font-family: roboto;
  font-weight: 500;
}
footer .logo {
  width: 137px;
  height: 27px;
  filter: brightness(300);
  margin-bottom: 16px;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer ul .fa-solid {
  margin-right: 11px;
}

.headline {
  width: 375px;
  font-family: roboto;
  display: flex;
  flex-direction: column;
  padding-top: 39px;
  align-items: center;
  background-color: #F6F6F6;
}
.headline h1 {
  height: 68px;
  width: 275px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
.headline h2 {
  height: 46px;
  width: 315px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: #353535;
}

.menu {
  width: 375px;
  font-family: roboto;
}
.menu h1 {
  height: 31px;
  width: 275px;
  margin: 48px 80px 26px 20px;
  font-size: 24px;
  font-weight: 700;
}
.menu__bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-bottom: 68px;
}

.offers {
  font-family: roboto;
  width: 375px;
  padding-bottom: 66px;
  background-color: #F6F6F6;
  padding-top: 54px;
}
.offers__title {
  font-size: 24px;
  font-weight: 700;
  margin-left: 20px;
  margin-bottom: 24px;
}
.offers__card {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
}

.btn input {
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  width: 218px;
  height: 50px;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 0px;
  margin-top: 27px;
  margin-bottom: 57px;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.menu__bar__button .input {
  width: 322px;
  height: 72px;
  padding: 0px;
  border: none;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.menu__bar__button .input .fa-solid {
  margin-right: 27px;
  font-size: 19px;
  color: #7E7E7E;
  padding-bottom: 7px;
}
.menu__bar__button__round {
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  border-radius: 50px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  margin-left: -11px;
  margin-right: 23px;
}

.card {
  width: 340px;
  height: 251px;
  font-family: roboto;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.card img {
  height: 174px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  box-sizing: content-box;
  -o-object-fit: cover;
     object-fit: cover;
}
.card .content {
  display: flex;
}
.card .content__txt {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 16px 13px 12px 13px;
}
.card .content__txt .card__title {
  width: 267px;
  height: 20px;
  font-size: 18px;
  font-weight: 700;
}
.card .content__txt .card__subtitle {
  width: 247px;
  height: 24px;
  font-size: 17px;
  font-weight: 300;
}
.card .content i {
  display: block;
  font-size: 22px;
  margin: 23px 25px 33px 0px;
}/*# sourceMappingURL=main.css.map */