a {
  color: inherit;
  text-decoration: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Basic typography style for copy text
 */
header {
  height: 113px;
  width: 375px;
}
header .frame {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}
header .frame__logo {
  width: 162px;
  height: 36px;
}
header .location {
  background-color: #EAEAEA;
  box-shadow: inset 0px 7px 13px 0px rgba(0, 0, 0, 0.1);
  width: 375px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
}
header .location__form input {
  border: none;
  font-family: roboto;
  font-weight: 500;
  font-size: 16px;
  width: 130px;
  background-color: transparent;
}

.headline {
  height: 287px;
  width: 375px;
  font-family: roboto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headline h1 {
  height: 68px;
  width: 275px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
.headline h2 {
  height: 46px;
  width: 315px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}

.menu {
  width: 375px;
  height: 440px;
  font-family: roboto;
}
.menu h1 {
  height: 31px;
  width: 275px;
  padding: 48px 80px 26px 20px;
  font-size: 24px;
  font-weight: 700;
}
.menu__bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offers {
  font-family: roboto;
  width: 375px;
  padding-bottom: 66px;
}
.offers__title {
  font-size: 24px;
  font-style: normal;
  margin: 20px;
}
.offers__card {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
}

.btn input {
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  width: 218px;
  height: 50px;
  border: none;
  border-radius: 25px;
  color: white;
  margin-top: 27px;
  font-size: 16px;
  font-weight: 500;
}

.menu__bar__button input {
  width: 322px;
  height: 72px;
  border: none;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 500;
}
.menu__bar__button__round {
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  position: relative;
  top: 50px;
  border-radius: 50px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
}

.card {
  width: 340px;
  height: 251px;
  font-family: roboto;
}
.card img {
  height: 174px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  box-sizing: content-box;
  -o-object-fit: cover;
     object-fit: cover;
}
.card .content__txt {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 16px 13px 60px 12px;
}
.card .content__txt .card__title {
  width: 267px;
  height: 20px;
  font-size: 18px;
  font-weight: 700;
}
.card .content__txt .card__subtitle {
  width: 247px;
  height: 24px;
  font-size: 17px;
  font-weight: 300;
}/*# sourceMappingURL=main.css.map */