// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// first color implementation - to clean 

//first analysis

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$black: #000000;
$white: #FFFFFF;

$light-gray: #EAEAEA;
$gray: #7E7E7E;
$charcoal-gray: #353535;
$dark-gray: #101010;

$extra-light-gray: #F6F6F6;

$green: #008766;

// colour plates artefacts

$navy-blue: #003A68;
$light-blue: #89C8FA;

// first font setting implementation - to clean

$font-weight-medium: 500;

$small-font-size: 14px;

$body-font-size: 16px;

$h1-font-size: 24px;

$h1-font-wight: 700;

$h2-font-size: 18px;

$h2-font-weight: 300;

$body-font: roboto;

// width mobil-first max 375px - to clean

$maxwidth: 1400px;

$break: 740px;

// linear-gradient color //

$gradient-purple-to-pink: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
$gradient-pink-to-purple: linear-gradient(0deg, rgba(255, 121, 218, 1) 0%, rgba(147, 86, 220, 1) 100%);