// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// first color implementation - to clean 

//first analysis

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$black: #000000;

$black1: #101010;
$white: #FFFFFF;
$grey: #353535;
$grey2: #EAEAEA;

$background: #F6F6F6;

$grey-tint4: #7E7E7E;

$green-font: #008766;

// colour plates artefacts

$blue2: #003A68;
$blue: #89C8FA;

// first font setting implementation - to clean

$body-font-weight: 500;

$body-font-size: 16px;

$h1-font-size: 24px;

$h1-font-wight: 700;

$h2-font-size: 18px;

$h2-font-weight: 300;

$body-font: roboto;

// width mobil-first max 375px - to clean

$maxwidth: 375px;



$break: 700px;